<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="sidebar">
    <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/register">Registration Panel</a></li>
        <li><a href="/admin">Admin Panel</a></li>
        <li><a href="/user">User Panel</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
<div class="container">
    <div class="edit-password-form">
        <h1>Edit Password</h1>
        <form th:action="@{/user/edit}" method="post">
            <div>
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Update Password</button>
        </form>
        <a href="/user" class="back-link">Back to User Details</a>
    </div>
</div>
</body>
</html>
